<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>byuser</key>
	<array>
		<dict>
			<key>name</key>
			<string>stanfordi</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-01-25T21:44:33Z</date>
					<key>printed</key>
					<integer>1</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>howardjt</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-01-27T21:29:00Z</date>
					<key>printed</key>
					<integer>9</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>jameszeller</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-02-02T14:55:38Z</date>
					<key>printed</key>
					<integer>3</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>turnerg</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-02-22T19:42:25Z</date>
					<key>printed</key>
					<integer>7</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>farkasb</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-02-22T19:44:35Z</date>
					<key>printed</key>
					<integer>74</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>premoc</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-03-25T18:36:46Z</date>
					<key>printed</key>
					<integer>2</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>scogginse</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-03-26T14:45:18Z</date>
					<key>printed</key>
					<integer>4</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>dodsona</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-03-26T20:39:06Z</date>
					<key>printed</key>
					<integer>1</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>grahamk</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-03-31T16:36:35Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>privettg</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-01T01:04:17Z</date>
					<key>printed</key>
					<integer>0</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>salberti</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-05T21:55:05Z</date>
					<key>printed</key>
					<integer>17</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>nabucoa</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-06T13:43:12Z</date>
					<key>printed</key>
					<integer>3</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>browne1</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-09T18:15:26Z</date>
					<key>printed</key>
					<integer>22</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>scotta</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-14T16:29:08Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>schreinerc</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-14T18:36:37Z</date>
					<key>printed</key>
					<integer>37</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>sarahfalbe</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-15T15:33:50Z</date>
					<key>printed</key>
					<integer>43</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>rachelbuske</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-15T19:25:52Z</date>
					<key>printed</key>
					<integer>71</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>trotzs</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-15T19:43:25Z</date>
					<key>printed</key>
					<integer>48</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>fuccia</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-16T16:38:10Z</date>
					<key>printed</key>
					<integer>99</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>carolinenanson</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-19T17:42:03Z</date>
					<key>printed</key>
					<integer>12</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>butlerw</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-19T17:43:13Z</date>
					<key>printed</key>
					<integer>14</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>monicamoynihan</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-19T17:49:16Z</date>
					<key>printed</key>
					<integer>7</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>fielderm</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-19T18:02:33Z</date>
					<key>printed</key>
					<integer>4</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>michellegrayburn</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-19T18:10:03Z</date>
					<key>printed</key>
					<integer>8</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>orrm</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-19T18:18:30Z</date>
					<key>printed</key>
					<integer>10</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>quezaa</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-19T18:21:29Z</date>
					<key>printed</key>
					<integer>13</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>hardingj</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-20T14:26:54Z</date>
					<key>printed</key>
					<integer>36</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>ryantablada</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-20T15:33:02Z</date>
					<key>printed</key>
					<integer>62</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>teveita</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-21T14:13:27Z</date>
					<key>printed</key>
					<integer>58</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>melgara</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-21T15:48:39Z</date>
					<key>printed</key>
					<integer>42</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>brookehinton</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-21T15:53:48Z</date>
					<key>printed</key>
					<integer>2</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>frashierbaudry</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-21T16:59:00Z</date>
					<key>printed</key>
					<integer>18</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>pophamj</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-22T03:21:34Z</date>
					<key>printed</key>
					<integer>87</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>wellsk</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-22T18:45:20Z</date>
					<key>printed</key>
					<integer>26</integer>
					<key>start</key>
					<date>2010-04-13T15:51:47Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>bushj</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-22T20:57:46Z</date>
					<key>printed</key>
					<integer>54</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>daddm</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-23T18:04:16Z</date>
					<key>printed</key>
					<integer>74</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>freemank</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-26T15:56:04Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>hammondc</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-26T16:24:58Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>wuj</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-26T18:11:33Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>grahamkl</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-26T18:50:01Z</date>
					<key>printed</key>
					<integer>96</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>calhouna</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-26T20:15:07Z</date>
					<key>printed</key>
					<integer>28</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>elge</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-26T22:02:54Z</date>
					<key>printed</key>
					<integer>25</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>huddlestona</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T01:39:01Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>emilywilliams</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T02:11:20Z</date>
					<key>printed</key>
					<integer>9</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>sarahice</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T04:09:25Z</date>
					<key>printed</key>
					<integer>59</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>earlyl</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T13:28:18Z</date>
					<key>printed</key>
					<integer>87</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>stewartml</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T14:15:19Z</date>
					<key>printed</key>
					<integer>64</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>lehenbauera</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T15:08:09Z</date>
					<key>printed</key>
					<integer>56</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>summera</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T15:11:31Z</date>
					<key>printed</key>
					<integer>88</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>mooree</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T15:34:17Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>guestk</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T15:50:54Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>sledget</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T15:56:19Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>deloachj</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T16:01:56Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>kelseafontes</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T16:46:47Z</date>
					<key>printed</key>
					<integer>67</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>moncusek</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T16:53:30Z</date>
					<key>printed</key>
					<integer>10</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>andersona</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T18:23:03Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>tyreej</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T19:03:30Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>davise</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T19:29:47Z</date>
					<key>printed</key>
					<integer>92</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>carll</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T21:06:49Z</date>
					<key>printed</key>
					<integer>54</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>kathrynallen</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T22:42:50Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>hambyd</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-27T23:28:17Z</date>
					<key>printed</key>
					<integer>44</integer>
					<key>start</key>
					<date>2010-04-23T19:30:52Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>mausl</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-28T00:01:16Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>gromk</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-28T00:25:39Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>annamariagrissim</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-28T00:32:14Z</date>
					<key>printed</key>
					<integer>58</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>kristenbeck</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-28T01:57:08Z</date>
					<key>printed</key>
					<integer>51</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>jonesg</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-28T02:15:27Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>poraykoc</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-28T02:34:29Z</date>
					<key>printed</key>
					<integer>88</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>swandera</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-28T02:46:12Z</date>
					<key>printed</key>
					<integer>24</integer>
					<key>start</key>
					<date>2010-04-20T20:46:51Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>covingtonr</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-28T15:09:43Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-04-13T15:50:53Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>resslerm</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-28T15:45:35Z</date>
					<key>printed</key>
					<integer>100</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>kuoy</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-28T15:49:20Z</date>
					<key>printed</key>
					<integer>72</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>crawfords</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-28T16:36:19Z</date>
					<key>printed</key>
					<integer>44</integer>
					<key>start</key>
					<date>2010-01-14T14:59:59Z</date>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>jordanburrier</string>
			<key>quotastats</key>
			<dict>
				<key>byqueue</key>
				<array/>
				<key>default</key>
				<dict>
					<key>lastmod</key>
					<date>2010-04-28T16:52:21Z</date>
					<key>printed</key>
					<integer>2</integer>
					<key>start</key>
					<date>2010-04-28T16:47:10Z</date>
				</dict>
			</dict>
		</dict>
	</array>
	<key>lastmod</key>
	<date>2010-04-28T16:52:21Z</date>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
